
<div class="container confirmation_card">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div [ngStyle]="{'background-color' : 'red'}" class="card_header card_header_danger">
          <h4 class="card_title mb-0"> {{data.title}}</h4>
          <!-- <p class="card-category"> {{subtitle}}</p> -->
          <i class="material-icons icon_close" (click)="close()">
            close
          </i>
        </div>
        <div class="container-fluid card_body">
          <p> {{data.message}} </p>
          <ng-content></ng-content>
        </div>
        <div class="container-fluid card_footer">
          <div class="row">
            <div class="col-12 text-center">
                <button class="btn button" *ngFor="let action of data.buttonAction; let i = index" (click)="submit(action.buttonName)"> {{action.buttonName}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
